<!DOCTYPE html>
<html lang="en">
<!--2022/08/06 15:00 ~ 16:30 (1.5hr) 
  寫 header & footer + 研究/熟悉layout怎麼切 & 變數+scss寫法 不含RWD 
  ~ 17:15  (45min) 寫RWD pad 調整CSS 
  ~ 18:30 (1hr 15min) 寫RWD mobile 調整html
-->


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  
</head>

<body>
  <div class="wrap">

    <div class="container">
        <header>
          <h1><img src="assets/images/logo-white.png" alt="logo"></h1>
          <ul class="menu">
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
          </ul>
        </header>
    </div>
  
    
    <%- contents %>
    


    <div class="container">
        <footer>
            <div class="link">
              <div class="block">
                  <ul class="quickLink">
                    <li><a href="#">首頁</a></li>
                    <li><a href="#">系列鏡框</a></li>
                    <li><a href="#">門市據點</a></li>
                    <li><a href="#">部落格</a></li>
                    <li><a href="#">常見問題</a></li>
                  </ul>

                  <ul class="socialMedia">
                    <li><a href="#"><img src="assets/images/ic-social-fb.png" alt="fb"></a></li>
                    <li><a href="#"><img src="assets/images/ic_social_ig.png" alt="ig"></a></li>
                    <li><a href="#"><img src="assets/images/ic_social_line.png" alt="line"></a></li>
                  </ul>
              </div>

              <div class="contact">
                <p><img src="assets/images/phone_white_24dp.svg" alt="icon-mail">0800-000-000</p>
                <p><img src="assets/images/mail_outline_white_24dp.svg" alt="icon-phone">glasses@business.com</p>
              </div>

            </div>

            

            <div class="copyright">
                <p>Copyright © 2020 Glasses.All rights reserved.</p>
                <ul>
                  <li><a href="#">隱私權政策</a></li>
                  <li><a href="#">服務條款</a></li>
                </ul>
            </div>
            
          
        </footer>
    </div>

  </div>
 
</body>

</html>
