.container{
    max-width: 1320px;
    padding:0 12px;
    margin: 0 auto;

    @include pad(){
        padding:0px 36px;
    }

    @include mobile(){
        padding:0px 14px 0px 13px;
    }
}


header {
    background-color: $color2;
    .container{
        display: flex;
        justify-content: space-between;

        img{
            width:80px ;
            margin: 16px auto;
        }
        .menu {
            display: flex;
            margin-right: -32px;
        }
        .menu a{
            @include bgReda;
            font-size:20px;
            line-height: 30px;
            padding: 25px 32px;
            display: block;
        }

        @include mobile(){
            flex-wrap: wrap;
            padding:0;

            img, .menu, .menu a{
            margin:0;
            padding: 0;
            }
            h1{
                margin:16px auto;
            }
            .menu{
                flex-wrap: wrap;
            }
            .menu li{
                width: 186px;
            }
            .menu a{
                text-align: center;
                padding:12px 60px;
                font-size:16px;
                line-height: 24px;
                border: 1px solid white;
            }

        }
    }   
}

footer{
    background-color: $color2;
    padding-top: 60px;
    padding-bottom:32px;

    .container{
     padding: 23px auto;
    .block{
        display: flex;
        justify-content:space-between;
    }
    .quickLink , .socialMedia{
        display: flex;
       
    }
    .quickLink li{
        margin-right: 48px;
    }
    .quickLink a{
        @include bgReda;
        font-size:16px;
        line-height: 24px;
    }

    .socialMedia li{
        margin-left: 32px;
    
    }
    .socialMedia img{
        width: 48px;
    }

    .contact {
        color: white;
        text-decoration: none;
        font-size: 36px;
        line-height: 54px;
        padding-bottom: 32px;

        img{
            width: 36px;
            margin-right: 22px;
            
        }
    }

    .copyright{
        display: flex;
        justify-content: space-between;
        color: white;
        border-top: 1px solid white;
        padding-top: 32px;

        ul{
            display: flex;
        }
        ul li{
            margin-left: 48px;
        }
        a{
            @include bgReda;
        }
    
    }

    @include pad(){

        .link, .block, .quickLink, .socialMedia ,.quickLink li{
            padding: 0;
            margin:0px;
        }
        
        .socialMedia img{
            width: 40px;
            margin-bottom: 24px;
        }
        .quickLink {
            display: flex;
            justify-content: space-between;
            width: 464px;
            align-items: center;
            margin-bottom: 24px;
        }
        
        
    }

    @include mobile(){
       margin-top: -26px;
       margin-bottom: -8px;
        
        .link, .socialMedia,  .socialMedia li ,.copyright ul li, .contact img{
            margin: 0;
            padding: 0;
        }
        
        display: flex;
        flex-direction: column;
        .link {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        .quickLink{
            display: none;
        }

        .socialMedia li img{
            width: 24px;
            margin-left: 8px;
        }

        .contact{
            img{
                width: 18px;
            }
            font-size: 16px;
            line-height: 24px;
        }

        .copyright{
            display: flex;
            flex-direction: column;
        }
        .copyright p{
            /*padding-top:16px;*/
            margin-bottom: 8px;
        }
        .copyright ul{
            display: flex;
            flex-direction: column;
        }
        .copyright ul li{
            margin: 8px 0;

        }

    }
}

}