@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;500;900&family=Roboto:ital,wght@0,500;1,500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*new*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", "Noto Sans TC", sans-serif; }

img {
  width: 100%;
  vertical-align: middle; }

/*深紅色*/
/*亮紅色*/
.container {
  max-width: 1320px;
  padding: 0 12px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0px 36px; } }
  @media (max-width: 375px) {
    .container {
      max-width: 375px;
      padding: 0px 14px 0px 13px; } }

header {
  background-color: #aa0601; }
  header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    header .container img {
      width: 80px;
      margin: 16px auto; }
    header .container .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: -32px; }
    header .container .menu a {
      color: white;
      text-decoration: none;
      font-size: 20px;
      line-height: 30px;
      padding: 25px 32px;
      display: block; }
    @media (max-width: 375px) {
      header .container {
        max-width: 375px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding: 0; }
        header .container img, header .container .menu, header .container .menu a {
          margin: 0;
          padding: 0; }
        header .container h1 {
          margin: 16px auto; }
        header .container .menu {
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
        header .container .menu li {
          width: 186px; }
        header .container .menu a {
          text-align: center;
          padding: 12px 60px;
          font-size: 16px;
          line-height: 24px;
          border: 1px solid white; } }

footer {
  background-color: #aa0601;
  padding-top: 60px;
  padding-bottom: 32px; }
  footer .container {
    padding: 23px auto; }
    footer .container .block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    footer .container .quickLink, footer .container .socialMedia {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    footer .container .quickLink li {
      margin-right: 48px; }
    footer .container .quickLink a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      line-height: 24px; }
    footer .container .socialMedia li {
      margin-left: 32px; }
    footer .container .socialMedia img {
      width: 48px; }
    footer .container .contact {
      color: white;
      text-decoration: none;
      font-size: 36px;
      line-height: 54px;
      padding-bottom: 32px; }
      footer .container .contact img {
        width: 36px;
        margin-right: 22px; }
    footer .container .copyright {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      color: white;
      border-top: 1px solid white;
      padding-top: 32px; }
      footer .container .copyright ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      footer .container .copyright ul li {
        margin-left: 48px; }
      footer .container .copyright a {
        color: white;
        text-decoration: none; }
    @media (max-width: 768px) {
      footer .container {
        max-width: 768px; }
        footer .container .link, footer .container .block, footer .container .quickLink, footer .container .socialMedia, footer .container .quickLink li {
          padding: 0;
          margin: 0px; }
        footer .container .socialMedia img {
          width: 40px;
          margin-bottom: 24px; }
        footer .container .quickLink {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          width: 464px;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-bottom: 24px; } }
    @media (max-width: 375px) {
      footer .container {
        max-width: 375px;
        margin-top: -26px;
        margin-bottom: -8px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        footer .container .link, footer .container .socialMedia, footer .container .socialMedia li, footer .container .copyright ul li, footer .container .contact img {
          margin: 0;
          padding: 0; }
        footer .container .link {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
              -ms-flex-direction: row-reverse;
                  flex-direction: row-reverse;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
        footer .container .quickLink {
          display: none; }
        footer .container .socialMedia li img {
          width: 24px;
          margin-left: 8px; }
        footer .container .contact {
          font-size: 16px;
          line-height: 24px; }
          footer .container .contact img {
            width: 18px; }
        footer .container .copyright {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
        footer .container .copyright p {
          /*padding-top:16px;*/
          margin-bottom: 8px; }
        footer .container .copyright ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
        footer .container .copyright ul li {
          margin: 8px 0; } }

.banner {
  background-image: url(../images/home-header.png);
  background-size: cover;
  background-position: center;
  padding: 296px 0; }
  .banner .title {
    color: #650300;
    text-align: right; }
    .banner .title P {
      font-size: 36px;
      line-height: 54px; }
    .banner .title h1 {
      font-size: 64px;
      line-height: 96px;
      font-weight: bold; }
    .banner .title a {
      color: white;
      text-decoration: none;
      padding: 6px 16px;
      width: 104px;
      display: inline-block;
      background-color: #aa0601;
      text-align: center; }
  @media (max-width: 768px) {
    .banner {
      max-width: 768px; }
      .banner .title a {
        font-size: 20px;
        line-height: 30px;
        padding: 6px 12px; } }
  @media (max-width: 375px) {
    .banner {
      max-width: 375px;
      padding: 0; }
      .banner .container {
        padding: 144px 12px; }
      .banner .title p {
        font-size: 16px;
        line-height: 24px; }
      .banner .title h1 {
        font-size: 24px;
        line-height: 36px; } }

/*各區塊共通 CSS*/
h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  text-align: center;
  color: #650300; }

.slogan, .classic, .joint, .recommend, .contactUs {
  padding-top: 80px; }
  @media (max-width: 375px) {
    .slogan, .classic, .joint, .recommend, .contactUs {
      max-width: 375px;
      padding-top: 40px; } }

.slogan h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  color: #650300;
  margin-top: 24.33px;
  margin-bottom: 8px; }

.slogan ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32.33px; }

.slogan li {
  width: 23.6%;
  text-align: center;
  margin: 0 auto; }

.slogan li img {
  width: 83.83px; }

.slogan p {
  font-size: 16px;
  line-height: 24px;
  text-align: left; }

@media (max-width: 768px) {
  .slogan {
    max-width: 768px; }
    .slogan li {
      width: 43.75%;
      margin-bottom: 50px; }
    .slogan ul {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

@media (max-width: 375px) {
  .slogan {
    max-width: 375px; }
    .slogan h2 {
      font-size: 24px;
      line-height: 26px; }
    .slogan ul {
      margin: 0; }
    .slogan li {
      width: 92.8%;
      margin-top: 32.33px; } }

.classic ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 48px; }

.classic li {
  width: 32%; }

.classic p {
  font-size: 48px;
  line-height: 72px;
  font-style: italic;
  font-weight: bold;
  color: #aa0601;
  margin-top: 8px;
  text-align: center;
  font-family: "Roboto", "Noto Sans TC", sans-serif; }

@media (max-width: 768px) {
  .classic {
    max-width: 768px; }
    .classic ul {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .classic li {
      width: 100%;
      text-align: center;
      margin-bottom: 24px; } }

@media (max-width: 375px) {
  .classic {
    max-width: 375px; }
    .classic h2 {
      font-size: 24px;
      line-height: 26px; }
    .classic li {
      width: 100%;
      text-align: center;
      margin-bottom: 24px; } }

.joint {
  background-image: url(../images/index-bg.png);
  background-size: cover; }
  .joint h2 {
    color: white; }
  .joint ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 48px;
    padding-bottom: 80px; }
  .joint li {
    width: 50%; }
  .joint img {
    width: 100%; }
  .joint p {
    font-size: 48px;
    line-height: 72px;
    font-style: italic;
    font-weight: bold;
    color: #aa0601;
    margin-top: 8px;
    text-align: center;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    background-color: white;
    margin: 0px; }
  @media (max-width: 768px) {
    .joint {
      max-width: 768px; }
      .joint ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding-bottom: 56px; }
      .joint li {
        width: 100%;
        margin-bottom: 24px; }
      .joint img {
        width: 100%; } }
  @media (max-width: 375px) {
    .joint {
      max-width: 375px; }
      .joint h2 {
        font-size: 24px;
        line-height: 26px; }
      .joint ul {
        margin: 0; }
      .joint li {
        width: 100%;
        height: 240px;
        margin: 24px 0px;
        background-size: cover;
        background-position: absolute;
        margin-bottom: 88px; }
      .joint .bg1 {
        background-image: url(../images/home-section4-1-sm.png); }
      .joint .bg2 {
        background-image: url(../images/home-section4-2-sm.png); }
      .joint img {
        display: none; }
      .joint p {
        position: relative;
        top: 240px;
        height: 88px; } }

.recommend ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px; }

.recommend li {
  border: 1px solid #DEE2E6;
  border-radius: 4px 4px 0px 0px;
  width: 23.6%; }

.recommend img {
  width: 100%; }

.recommend div {
  padding: 16px; }

.recommend h4, .recommend p {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Noto Sans TC", sans-serif; }

.recommend p {
  font-weight: 100;
  margin-top: 8px;
  margin-bottom: 48px; }

.recommend label {
  color: #707070;
  font-size: 14px;
  line-height: 21px;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  font-weight: 100; }

@media (max-width: 768px) {
  .recommend {
    max-width: 768px; }
    .recommend ul {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .recommend li {
      width: 48%;
      margin-bottom: 24px; } }

@media (max-width: 375px) {
  .recommend {
    max-width: 375px; }
    .recommend h2 {
      font-size: 24px;
      line-height: 26px; }
    .recommend ul {
      margin-top: 24px; }
    .recommend li {
      width: 100%;
      margin-bottom: 16px; } }

.contactUs {
  width: 636px;
  margin: 0 auto;
  margin-bottom: 80px; }
  .contactUs h2 {
    margin-bottom: 24px; }
  .contactUs p {
    font-size: 20px;
    line-height: 30px;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    font-weight: 300; }
  .contactUs form {
    margin-top: 24px; }
  .contactUs form p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; }
  .contactUs form p .inputW {
    width: 636px;
    height: 36px;
    border: 1px solid #000;
    margin-bottom: 16px;
    margin-top: 8px;
    opacity: 20%; }
  .contactUs form p .check {
    width: 24px;
    height: 24px; }
  .contactUs form a {
    color: white;
    text-decoration: none;
    background-color: #aa0601;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 176px;
    display: block;
    width: 416px;
    margin: 0 auto;
    margin-top: 48px; }
  @media (max-width: 768px) {
    .contactUs {
      max-width: 768px;
      width: 73.8%;
      margin: 0 auto; }
      .contactUs p {
        font-size: 16px;
        line-height: 24px; }
      .contactUs form a {
        width: 336px;
        padding: 16px 136px;
        margin-bottom: 40px; }
      .contactUs form p .inputW {
        width: 100%; } }
  @media (max-width: 375px) {
    .contactUs {
      max-width: 375px;
      width: 348px;
      padding: 0; }
      .contactUs h2 {
        font-size: 24px;
        line-height: 26px; }
      .contactUs form p .inputW {
        width: 348px; }
      .contactUs form a {
        width: 348px;
        padding: 16px 142px;
        margin: 24px auto; }
      .contactUs form {
        margin-bottom: 40px; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1296px;
  margin: 0 auto; }
  .nav li {
    width: 33.3%;
    border: 1px solid #DCDCDC; }
    .nav li:hover, .nav li:active, .nav li:focus {
      border-bottom: 4px solid #aa0601; }
  .nav a {
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
    text-align: center;
    color: #000;
    padding: 24px;
    display: block;
    text-decoration: none; }
  @media (max-width: 768px) {
    .nav {
      max-width: 768px; }
      .nav a {
        font-size: 24px;
        line-height: 36px; } }
  @media (max-width: 375px) {
    .nav {
      max-width: 375px; }
      .nav li:hover, .nav li:active, .nav li:focus {
        border-bottom: 8px solid #aa0601; }
      .nav a {
        font-size: 16px;
        line-height: 24px;
        padding: 16px 12px; } }

.headBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .headBanner li {
    width: 50%; }
  .headBanner a {
    width: 100%;
    height: 296px;
    display: block;
    background-size: cover;
    background-position: center; }
  .headBanner .pB1 {
    background-image: url(../images/product-header-1.png); }
  .headBanner .pB2 {
    background-image: url(../images/product-header-2.png); }
  @media (max-width: 768px) {
    .headBanner {
      max-width: 768px; }
      .headBanner .pB1 {
        background-image: url(../images/product-header-sm-1.png); }
      .headBanner .pB2 {
        background-image: url(../images/product-header-sm-2.png); } }
  @media (max-width: 375px) {
    .headBanner {
      max-width: 375px; }
      .headBanner a {
        height: 136px; } }

.productList h1 {
  font-size: 42px;
  line-height: 63px;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  text-align: center;
  padding-top: 80px; }

.productList h2 {
  font-size: 32px;
  line-height: 48px;
  color: #000; }

.productList ul {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Roboto", "Noto Sans TC", sans-serif; }
  .productList ul div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .productList ul div .pType, .productList ul div .pPrice {
      font-size: 24px;
      line-height: 36px; }
    .productList ul div .pPrice {
      color: #aa0601; }
  .productList ul li {
    margin-bottom: 80px;
    width: 23.18%; }
    .productList ul li .pColor {
      margin: 0; }
  .productList ul .pColor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .productList ul .pColor li {
      width: 24px;
      margin-right: 8px;
      margin-bottom: 0; }
  .productList ul .color1, .productList ul .color2 {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: block; }
  .productList ul .color1 {
    background-color: #5F3E2D; }
  .productList ul .color2 {
    background-color: #B75929; }

@media (max-width: 768px) {
  .productList {
    max-width: 768px; }
    .productList ul li {
      width: 48.27%;
      margin-bottom: 40px; } }

@media (max-width: 375px) {
  .productList {
    max-width: 375px; }
    .productList h1, .productList h2 {
      font-size: 24px;
      line-height: 36px; }
    .productList ul li {
      width: 100%;
      margin-bottom: 24px; } }

.pageNo ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .pageNo ul li {
    width: auto;
    border: 1px solid #555555;
    border-right: none; }
    .pageNo ul li:last-child {
      border-right: 1px solid #555555; }
  .pageNo ul a {
    text-decoration: none;
    color: #555555;
    padding: 11px 12px;
    display: block; }
    .pageNo ul a:hover, .pageNo ul a:focus {
      background-color: #000;
      color: white; }

@media (max-width: 768px) {
  .pageNo {
    max-width: 768px; }
    .pageNo ul li {
      margin-bottom: 80px; } }

/*# sourceMappingURL=all.css.map */
