@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;500;900&family=Roboto:ital,wght@0,500;1,500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*new*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", "Noto Sans TC", sans-serif; }

img {
  vertical-align: middle; }

/*深紅色*/
/*亮紅色*/
.container {
  background-color: #aa0601; }

header {
  max-width: 1296px;
  padding: 0 12px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  header img {
    width: 80px;
    margin: 16px auto; }
  header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -32px; }
  header .menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    padding: 25px 32px;
    display: block; }
  @media (max-width: 768px) {
    header {
      max-width: 768px; }
      header img {
        margin-left: 36px; }
      header .menu {
        margin-right: 0px; } }
  @media (max-width: 375px) {
    header {
      max-width: 375px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 0; }
      header img, header .menu, header .menu a {
        margin: 0;
        padding: 0; }
      header h1 {
        margin: 16px auto; }
      header .menu {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
      header .menu li {
        width: 186px; }
      header .menu a {
        text-align: center;
        padding: 12px 60px;
        font-size: 16px;
        line-height: 24px;
        border: 1px solid white; } }

footer {
  max-width: 1296px;
  margin: 0 auto;
  padding: 23px 12px; }
  footer .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer .quickLink, footer .socialMedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 32px; }
  footer .quickLink li {
    margin-right: 48px; }
  footer .quickLink a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px; }
  footer .socialMedia li {
    margin-left: 32px; }
  footer .socialMedia img {
    width: 48px; }
  footer .contact {
    color: white;
    text-decoration: none;
    font-size: 36px;
    line-height: 54px;
    padding-bottom: 32px; }
    footer .contact img {
      width: 36px;
      margin-right: 22px; }
  footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: white;
    border-top: 1px solid white;
    padding-top: 32px; }
    footer .copyright ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    footer .copyright ul li {
      margin-left: 48px; }
    footer .copyright a {
      color: white;
      text-decoration: none; }
  @media (max-width: 768px) {
    footer {
      max-width: 768px;
      padding: 56px 36px 40px 36px; }
      footer .link, footer .block, footer .quickLink, footer .socialMedia, footer .quickLink li {
        padding: 0;
        margin: 0px; }
      footer .socialMedia img {
        width: 40px;
        margin-bottom: 24px; }
      footer .quickLink {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 464px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 24px; } }
  @media (max-width: 375px) {
    footer {
      max-width: 375px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 24px 16px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      footer .link, footer .socialMedia, footer .socialMedia li, footer .copyright ul li, footer .contact img {
        margin: 0;
        padding: 0; }
      footer .link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      footer .quickLink {
        display: none; }
      footer .socialMedia li img {
        width: 24px;
        margin-left: 8px; }
      footer .contact {
        font-size: 16px;
        line-height: 24px; }
        footer .contact img {
          width: 18px; }
      footer .copyright {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
      footer .copyright p {
        /*padding-top:16px;*/
        margin-bottom: 8px; }
      footer .copyright ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
      footer .copyright ul li {
        margin: 8px 0; } }

.w1296 {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 12px; }

.banner {
  background-image: url(../images/home-header.png);
  background-size: cover;
  background-position: center;
  padding: 296px 0; }
  .banner .title {
    color: #650300;
    text-align: right; }
    .banner .title P {
      font-size: 36px;
      line-height: 54px; }
    .banner .title h1 {
      font-size: 64px;
      line-height: 96px;
      font-weight: bold; }
    .banner .title a {
      color: white;
      text-decoration: none;
      padding: 6px 16px;
      width: 104px;
      display: inline-block;
      background-color: #aa0601;
      text-align: center; }
  @media (max-width: 768px) {
    .banner {
      max-width: 768px; }
      .banner .w1296 {
        padding-right: 37px; }
      .banner .title a {
        font-size: 20px;
        line-height: 30px;
        padding: 6px 12px; } }
  @media (max-width: 375px) {
    .banner {
      max-width: 375px;
      padding: 0; }
      .banner .w1296 {
        padding: 144px 14px; }
      .banner .title p {
        font-size: 16px;
        line-height: 24px; }
      .banner .title h1 {
        font-size: 24px;
        line-height: 36px; } }

/*各區塊共通 CSS*/
h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  text-align: center;
  color: #650300; }

.slogan, .classic, .joint, .recommend, .contactUs {
  padding: 80px 0px; }

.slogan h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  color: #650300;
  margin-top: 24.33px;
  margin-bottom: 8px; }

.slogan ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32.33px; }

.slogan li {
  width: 23.6%;
  text-align: center;
  margin: 0 auto; }

.slogan li img {
  width: 83.83px; }

.slogan p {
  font-size: 16px;
  line-height: 24px;
  text-align: left; }

@media (max-width: 768px) {
  .slogan {
    max-width: 768px; }
    .slogan li {
      width: 336px; }
    .slogan ul {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: auto 36px; } }

@media (max-width: 375px) {
  .slogan {
    max-width: 375px; }
    .slogan h2 {
      font-size: 24px;
      line-height: 26px; }
    .slogan ul {
      margin: 0 13px; }
    .slogan li {
      margin-top: 32.33px; } }

.classic ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px; }

.classic li {
  width: 32%; }

.classic img {
  width: 100%; }

.classic p {
  font-size: 48px;
  line-height: 72px;
  font-style: italic;
  font-weight: bold;
  color: #aa0601;
  margin-top: 8px;
  text-align: center;
  font-family: "Roboto", "Noto Sans TC", sans-serif; }

@media (max-width: 768px) {
  .classic {
    max-width: 768px; }
    .classic ul {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .classic li {
      width: 43%;
      margin: 0 216px;
      margin-bottom: 24px; }
    .classic img {
      width: 336px; } }

@media (max-width: 375px) {
  .classic {
    max-width: 375px; }
    .classic h2 {
      font-size: 24px;
      line-height: 26px; }
    .classic li {
      width: 92.8%;
      margin: 0 13px;
      margin-bottom: 24px; }
    .classic img {
      width: 100%; } }

.joint {
  background-image: url(../images/index-bg.png);
  background-size: cover; }
  .joint h2 {
    color: white; }
  .joint ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 48px; }
  .joint li {
    width: 50%; }
  .joint img {
    width: 100%; }
  .joint p {
    font-size: 48px;
    line-height: 72px;
    font-style: italic;
    font-weight: bold;
    color: #aa0601;
    margin-top: 8px;
    text-align: center;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    background-color: white;
    margin: 0px; }
  @media (max-width: 768px) {
    .joint {
      max-width: 768px; }
      .joint .w1296 {
        padding: 0 36px; }
      .joint ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
      .joint li {
        width: 96%;
        margin-bottom: 24px; }
      .joint img {
        width: 100%; } }
  @media (max-width: 375px) {
    .joint {
      max-width: 375px; }
      .joint h2 {
        font-size: 24px;
        line-height: 26px; }
      .joint ul {
        margin: 0; }
      .joint li {
        width: 92.8%;
        height: 240px;
        margin: 24px 14px 24px 13px;
        background-size: cover;
        background-position: absolute;
        margin-bottom: 88px; }
      .joint .bg1 {
        background-image: url(../images/home-section4-1-sm.png); }
      .joint .bg2 {
        background-image: url(../images/home-section4-2-sm.png); }
      .joint img {
        display: none; }
      .joint p {
        position: relative;
        top: 240px;
        height: 88px; } }

.recommend ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px; }

.recommend li {
  border: 1px solid #DEE2E6;
  border-radius: 4px 4px 0px 0px;
  width: 23.6%; }

.recommend img {
  width: 100%; }

.recommend div {
  padding: 16px; }

.recommend h4, .recommend p {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Noto Sans TC", sans-serif; }

.recommend p {
  font-weight: 100;
  margin-top: 8px;
  margin-bottom: 48px; }

.recommend span {
  color: #707070;
  font-size: 14px;
  line-height: 21px;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  font-weight: 100; }

@media (max-width: 768px) {
  .recommend {
    max-width: 768px; }
    .recommend ul {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin: 0 12px; }
    .recommend li {
      width: 43.75%;
      margin: 24px 23px; } }

@media (max-width: 375px) {
  .recommend {
    max-width: 375px; }
    .recommend h2 {
      font-size: 24px;
      line-height: 26px; }
    .recommend ul {
      margin: 24px 14px; }
    .recommend li {
      width: 348px; } }

.contactUs {
  width: 636px;
  margin: 0 auto; }
  .contactUs h2 {
    margin-bottom: 24px; }
  .contactUs p {
    font-size: 20px;
    line-height: 30px;
    font-family: "Roboto", "Noto Sans TC", sans-serif;
    font-weight: 300; }
  .contactUs form {
    margin-top: 24px; }
  .contactUs form p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; }
  .contactUs form p .inputW {
    width: 636px;
    height: 36px;
    border: 1px solid #000;
    margin-bottom: 16px;
    margin-top: 8px;
    opacity: 20%; }
  .contactUs form p .check {
    width: 24px;
    height: 24px; }
  .contactUs form a {
    color: white;
    text-decoration: none;
    background-color: #aa0601;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 176px;
    display: block;
    width: 416px;
    margin: 0 auto;
    margin-top: 48px; }
  @media (max-width: 768px) {
    .contactUs {
      max-width: 768px;
      margin-top: -24px;
      width: 567px; }
      .contactUs p {
        font-size: 16px;
        line-height: 24px; }
      .contactUs form a {
        width: 336px;
        padding: 16px 136px; }
      .contactUs form p .inputW {
        width: 567px; } }
  @media (max-width: 375px) {
    .contactUs {
      max-width: 375px;
      width: 348px;
      padding: 0; }
      .contactUs h2 {
        font-size: 24px;
        line-height: 26px; }
      .contactUs form p .inputW {
        width: 348px; }
      .contactUs form a {
        width: 348px;
        padding: 16px 142px;
        margin: 24px auto; }
      .contactUs form {
        margin-bottom: 40px; } }

/*@import "page/index、pages1、pages2";*/
/*

$color: blue;

.header {
  height: 200px;
  background-color: #00cc99;
}

.footer {
  height: 200px;
  background-color: #00cc99;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}


h1{
  font-size: 50px;
}
*/

/*# sourceMappingURL=all.css.map */
